!!!
%html{:lang => "en"}
  %head
    %title ACE in Action
    :css
      .interactive-code {
        position:   relative;
      }
  %body
    = yield
    %script{:charset => "utf-8", :src => "//cdn.jsdelivr.net/ace/1.1.5/min/ace.js", :type => "text/javascript"}
    :javascript
      codeElements = document.querySelectorAll('.interactive-code');
      // var button = document.createElement('button');
      for(var index=0; index < codeElements.length; ++index) {
        var codeElement = codeElements[index]
        var editor      = ace.edit(codeElement);
        var code = editor.getValue(codeElement);
        editor.setTheme("ace/theme/monokai");
        editor.setOptions({maxLines: 15});
        editor.getSession().setMode("ace/mode/ruby");
        var evalButton = document.createElement('div')
        evalButton.id = "evalCode" + index
        codeElement.parentNode.insertBefore(evalButton, codeElement.nextSibling);
        var button      = document.createElement('input');
        button.type = 'button';
        button.value ='Run';
        evalButton.appendChild(button);
      }
