!!!
%html{:lang => "en"}
  %head
    %title Example of what a Lesson might look like
    %link{:href => "/normalize.css",  :media => "screen", :rel => "StyleSheet", :type => "text/css"}
    %link{:href => "/foundation.css", :media => "screen", :rel => "StyleSheet", :type => "text/css"}
    %link{:href => "/custom_css.css", :media => "screen", :rel => "StyleSheet", :type => "text/css"}

  %body
    .main-content
      .header
        %h1
          Minature-Octo-Ironman
          |
          %a(href="https://github.com/JoshCheek/miniature-octo-ironman/") Fork me

      = yield

  %script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
  %script(charset="utf-8" src="//cdn.jsdelivr.net/ace/1.1.5/min/ace.js" type="text/javascript")
  %script(src="/code_handler.js")
