!!!
%html{:lang => "en"}
  %head
    %title Example of what a Lesson might look like
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    :css
      .interactive-code.ace_editor {
        position:   relative;
      }
  %body
    .header
      %a(href="https://github.com/JoshCheek/miniature-octo-ironman/") Fork me
    = yield

    %script{:charset => "utf-8", :src => "//cdn.jsdelivr.net/ace/1.1.5/min/ace.js", :type => "text/javascript"}
    %script{:src => "code_handler.js"}
